# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# My ignore
src/srt/paths.h

example/parse_scene_old.hpp
example/test.cpp
example/test
example/test.s
example/Stopwatch.s

files/test.ppm
files/random.ppm
files/random (copy 1).ppm
files/image_test.ppm
files/test_light.ppm
files/scenes/*
!files/scenes/test.json

.vscode/

build/
build_debug/

docs/latex/

# Old cpp file
src/srt/geometry/Vec3.cpp
src/srt/geometry/Vec3.1.hpp
src/srt/geometry/Mat3.cpp
src/srt/Ray.cpp

# Light
src/srt/illumination

# Utility
src/srt/utility/Logger.hpp
src/srt/utility/Logger.cpp
